.container{
    background-color: #F3F1ED;
    
}

.sectionContainer{
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;   
 margin-top: 2rem;
 margin-left: 2rem;
}

.title{
    margin-top: 2rem;
    margin-left: 2rem;
    color: #383B58;
}

@media (max-width: 1180px  ){

    
    .sectionContainer{
        justify-content: center;
        margin-left: 0px;
    }

}