.calendar{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    height: 23rem;
    width: 40rem; 
    box-shadow: 0px 4px 4px rgb(0.5 0 0 / 25%); 
    border-radius: 2%;
}

.oneCalendar{
    display: none;
}

@media screen and (max-width: 960px) {
    .calendar{
        height: 23rem;
        width: 40rem; 
    }
}

@media screen and (max-width: 678px){
    .calendar{
        display: none;
    }

    .oneCalendar{
        display: flex;
        flex-wrap: wrap;
        background-color: white;
        height: 21rem;
        width: 20rem; 
        box-shadow: 0px 4px 4px rgb(0.5 0 0 / 25%); 
        border-radius: 2%;
    }
}